<!DOCTYPE html>
<html lang="en">
<head>
  <title>Style Transfer Demo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
		<th>Theme</th>
		<th>Reference Image</th>
      </tr>
    </thead>
    <tbody>
	  {% for ref in references %}  
      <tr>
        <td>{{ref.title}}</td>
		    <td><img src="{{ ref.path.url }}" width="120"/></td>
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
</div>


<div class="container">
  <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" name="btn" value="Upload">
             </form>
          </td>
          <td><img src="data:image/png;base64,{{result}}"/></td>
        </tr>
    </tbody>
  </table>	
  </div>

</body>
</html>